body {
  background: url(../extra_clean_paper/extra_clean_paper.png);
  
}

.button {
  display: inline-block;
  margin: 40px;
  width: 64px;
  height: 64px;
  background: url(../extra_clean_paper/extra_clean_paper.png);
  cursor: pointer;
  border-radius: 50%;
  position: relative;

  box-shadow: 0 3px 20px rgba(0,0,0,.05),
  0 5px 20px rgba(0,0,0,0.4);
}
.button:hover {
  box-shadow: 0 3px 20px rgba(0,0,0,.05),
  0 5px 20px rgba(55,55,55,0.4);
}
.btn-photo {
}
.btn-photo a img:hover {
  transform: translate3d(0px, 10px, 0px);
  opacity:1;
}
.btn-settings:hover {
  background: url(extra_clean_paper/button.png)  no-repeat;
  background-size: 45px;
   background-position: 20px -90px, 30px 80px, 0px 0px;
 background-repeat: no-repeat, no-repeat, repeat-x;
}


 a img {
  max-width: 5px;
  position: relative;
  top: 0px;
  margin: 25px 25px 111px 29px;
  transition: transform .3s ease-in-out;
  opacity:0;
}

@keyframes animatedBird {
 from { background-position: 26px 20px, 0 0, 20% 0; }
 to { background-position: 26px 40px, 0 0, 100% 0; }


}
 
.btn-settings { 
 animation: animatedBird 1s  linear infinite;
}

.arrow {
  position: absolute;
  left: 48.7%;
}
.button2 {
  width: 19px;
  height: 37px;
  top: 19%;
  margin: -20px 0 0 -20px;
  animation-duration: 1.9s;
  animation-iteration-count:   infinite;
  animation-name: button2;
  animation-timing-function: linear;
  margin: -2px 0 0 22px;
   position: absolute;
   border-radius: 8px;

}

.button1 {
  width: 11px;
  height: 40px;
  top: 25%;
  animation-duration: 1.9s;
  animation-iteration-count:  infinite;
  animation-name: button1;
  border-radius: 8px;
  animation-timing-function: linear;
 margin: -18px 0 -22px 26px;
 position: absolute;

}

@keyframes  button2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translate(0, 16px) ;
  }
  75% {
    opacity: 0.5;
    transform: translate(0, 18px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 26px) ;
  }
}
@keyframes button1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translate(0, 20px) ;
  }
  75% {
    opacity: 0.5;
     transform: translate(0, 25px) ;
  }
  100% {
    opacity: 0;
    transform: translate(0, 35px);
  }
}